* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
  background-color: #E6ECF0;
  }
  /* NAVBAR */
  #maindiv {
    text-decoration: none;
  }
  .firstcard{
  background-color: #ffffff;
  }
  .navbar {
    background-color: #ffffff;
  }
  a{
    color:black;
    text-decoration: none;
    /* margin-left: 30px; */
  }
  ul {
    display: flex;
    list-style-type: none;
    padding: 5px;
  margin-left: 138px;
  }
  li {
    margin-left: 35px;
     color:black; 
     margin-top:10px;
  }
  .fa-twitter {
    margin: auto;
    color:#49B3F4;
    font-size: 30px;
  }
  .fa{
    font-size: 50px;
  }
  
  .btn,input{
    margin-right: 75px;
    width: 98px;
    border-radius: 24px;
    background-color:#49B3F4;
    color: white;
    border: white;
    height: 37px;
  }
  /* .navbar */
  
  /* second card start */
  .card-main-div {
    display: flex;
    justify-content: center;
  }
  .firstcard {
      width: 22%;
      margin: 2px;
      height: min-content;
  }
  h1 {
    background-color: black;
    color: #ffffff;
    height: 15vh;
    text-align: center;
    padding-top: 30px;
  }
  .firstcard  img {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: -15px;
    margin-left: 12px;
    box-shadow: 0px 0px 6px 2px white;
  }
  .name{
    display: space-between;
    display: inline-block;
    margin-left: 10px;
  }
  table, tr, td, th{
    margin-left: 23px;
    padding: 10px;
  }
  td{
    color:#49B3F4;
  font-size:15px;
    
  }
  th{
    font-size: 18px;
  }
  /* Card-Second */
  .card-second{
  margin:2px;
  }
  .first-row,.second-row,.third-row,.fourth-row,.fifth-row{
    display: flex;
  }
  .card-second {
    width: 33%;
    background-color: #ffffff;
  }
  .card-second img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 12px;
    margin-left: 5px;
    float: left;
  }
  .first-row img{
    height:50px;
    width:50px;
  }
  .second-row img{
    height:50px;
    width:50px;
  }
  .third-row img{
    height:50px;
    width:50px;
  }
  .fourth-row img{
    height:50px;
    width:50px;
  }
  .fifth-row img{
    height:50px;
    width:50px;
  }
  .name2 {
    display: flex;
    margin-left: 17px;
    padding: 2px;
    margin-top: 13px;
  }
  .para{
    margin-left: 4%;
      padding: 2px;
  }
  
  h6{
    font-size: 15px;
  }
  .name3 {
    display: flex;
      margin-left: 3%;
      padding: 2px;
      margin-top:20px;
    float: left;
  }
  
  .name4 {
    display: flex;
    margin-left: 12%;
    padding: 2px;
    margin-top:20px;
  }
  
  .para3{
    margin-left: 23px
  }
  
  .name5{
    display: flex;
    margin-left: 17px;
    padding: 2px;
    margin-top:20px;
  }
  
  .para4{
    margin-left: 23px;
    margin-bottom: 2px solid white;
  }
  
  .name6{
    display: flex;
    margin-left: 17px;
    padding: 2px;
    margin-top:20px;
  }
  .para5{
    margin-left: 23px;
  }
  .third-row,.fourth-row,.fifth-row{
    height:85px;
  }
  /* Card-third */
  
  .card-third{
  
    width: 20%;
      border: 1px solid black;
      height:30%;
      background-color: #ffffff;
      border-color: #ffffff;
      margin:2px;
  }
  
  .heading{
    margin-top: 18px;
  }
  img{
        width: 61px;
    height: 61px;
    border-radius: 50%;
  }
  
  .sixth-row{
    display: flex;
      margin: 12px;
      width: 50px;
      height: 68px;
      border-radius: 50%;
  }
  .sixth-row img{
    height:50px;
    width:50px;
  }
  .name7{
    display: flex;
    margin-left: 19px;
    padding: 1px;
  }
  
    .seventh-row{
      display: flex; 
      margin: 12px;
      border-radius: 50%;}
      .seventh-row img{
        height:50px;
        width:50px;
      }
  
      .name8{
        display:flex;
        margin-left: 15px;
      }
      button{
        color: #49B3F4;
        background-color: white;
        border-radius: 23px;
        width: 5px;
        width:104px;
        border-block-color: initial;
        border-color: #49B3F4;
        margin-left: 32px;
    }
      