*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 90%;
    margin: auto;
}
.container{
    height: 100vh;
    background-color:#E6ECF0 ;
    color:#313233
}
.main-container{
    display: flex;
    width: 100%;
    height: 56px;
    background-color: #fff;
margin: auto;
}
.anchor{
   width: 91%; 
    margin-top: 16px;
}
.navbar{
display: flex;
width: 77%;
margin-left: 3%;
color:#313233

}
a{
  text-decoration: none;
  color: #000;  
  font-size: 15px;
  padding: 0px 7px 0px 24px;
    justify-content: space-around; 
}
.icon{
    color: rgb(24, 140, 228);
    margin-top: 16px;
    font-size: 30px;
}
.button-1 {
    font-size: 15px;
    height: 33px;
    margin-top: 13px;
    margin-left: 34%;
    width: 11%;
    border-radius: 15px;
    background-color: rgb(24, 140, 228);
    color: #fff;
    border: none;
    padding: 5px;
    margin-right: 5%;
}
.main-div{
    width: 91%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    background-color: #E6ECF0;
}
/* First-Box-Start */
.first-div{
 height: 44vh;
    width: 28%;
    background-color: #fff;
    margin-top: 10px;
}
.second-div{
    width: 42%;
    height: 68.5vh;
    background-color: #fff;
    margin-top: 10px;

}
.third-div{
    height: 34vh;
    width: 28%;
    background-color: #fff;
    margin-top: 10px;
    height: 44vh;
}
hr{
    width: 92%;
    margin: auto;
}
h1{
    text-align: center;
    color: white;
    padding-top: 27px 0px 25px;
    background: black;
    height: 104px;
    padding-top: 24px;
    text-shadow: 0px 1px 1px;
}
.section{
    display: flex;
}
.first-box-img{
    margin-top: -18px;
    border-radius: 50%;
    margin-left: 14px;
}
.first-box-second-text{
    width: 12%;
    margin-left: 11%;
    padding-top: 4px;
}
.table-class{
    text-align: center;
    float: center;
    width: 96%;
    margin: auto;
}
th,td{
padding-left: 20px;
color:#313233

}
td{
    color: rgb(24, 140, 228);
padding-top: 10px;
}
/* Second-Box */
img{
    border-radius: 50%;
    background-color: #E6ECF0 ;
}
.second-box{
    display: flex;
    margin-top: 10px;
}
.para-1{
    padding-top: 12px;
    font-size: 14px;
    margin-left: 4%;
}
strong{
    color:#000;
}

/* Third-Box */
h3{
    margin-top: 6px;
    color:#313233;
    margin-left: 10px;
}
.third-img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.third-line{
    display: flex;
}
.third-box-para{
    padding: 10px;
}
.third-box-button,button{
    width: 65%;
    background: white;
    color: rgb(24, 140, 228);
    border: 1px solid  rgb(24, 140, 228);;
    border-radius: 14px;
    height: 24px;
    align-items: center;
    margin-left: 10%;
}