* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}
.navbar {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: space-evenly;
}
.pandit-img img {
  width: 189px;
  height: 46px;
}
.li-tag {
  padding-top: 9px;
}
.li-ui-tag {
  display: flex;
  width: 344px;
  height: 22px;
  padding-top: 5px;
  gap: 27px;
  font-size: 13px;
}
li {
  width: 40px;
  height: 30px;
  list-style-type: none;
}
select {
  height: 21px;
  font-size: 13px;
  border: none;
}
.contact1 {
  background-color: #e9983f;
  color: #ffff;
  display: flex;
  width: 14%;
  padding-top: 8px;
  height: 47px;
}
.number span {
  height: 40px;
  padding-left: 5px;
  font-size: 11px;
  margin-left: 5px;
}
img .whatsapp-icon {
  width: 30px;
  height: 30px;
  padding-left: 9px;
}
/* Second Section */
.backGround-img {
  background-image: url(./assest/Mask\ group.png);

  height: 48vh;
  background-color: #151515;
  background-repeat: no-repeat;
  background-size: 100% 58vh;
}
.book-today {
}
.today {
  font-size: 12px;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  padding-top: 51px;
  color: #ffff;
}
.kaalsarppuja {
  margin: auto;
  width: 21%;
  line-height: 53px;
}
strong {
  font-size: 40px;
  margin: auto;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #fff;
}
.Trimbakeshwar {
  font-size: 32px;
  color: #fff;
}
.contact-guruji {
  width: 26%;
  color: antiquewhite;
  font-size: 12px;
  margin: auto;
  padding: 5px;
}
.contact-btn {
  margin-top: 13px;
}
.icon {
  height: 10px;
}
.btn1 {
  width: 12%;
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  height: 26px;
  margin: auto;
}
.num {
  color: #e9983f;
  font-size: 10px;
}

/* Third Section */

.grid-container {
  display: grid;
  column-gap: 50px;
  height: 62vh;
  grid-template-columns: auto auto;

  padding: 31px 20% 29px 15%;
}

.grid-item {
  padding: 20px;
}

.panditji-img {
  width: 100%;
  height: 47vh;
  background-color: aqua;
}
.about {
  display: flex;
  font-size: 16px;
  color: rgb(77, 76, 76);
}

.div-2 {
  width: 100%;
}
.para {
  font-size: xx-large;
  padding: 11px;
  border-left: 4px solid #e9983f;
}
.bold {
  font-weight: 900;
  font-size: xx-large;
}
.para-1,
.contact-btn1 {
  padding-top: 21px;
}
.icon1 {
  height: 13px;
  width: 13px;
}
.btn2 {
  height: 35px;
  width: 28%;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  background-color: #e9983f;
  color: #fff;
  font-weight: 600;
  border: none;
}
.kaal-sarp-puja {
  font-size: xx-large;
  padding-top: 15px;
}
.para-2 {
  padding-top: 15px;
}
.result {
  padding-top: 15px;
  display: flex;
}
.results {
  padding: 10px;
}
.tick-icon {
  width: 20px;
  height: 18px;
  margin-top: 10px;
}
.rupee {
  padding-left: 11px;
}
.rupee-1 {
  display: flex;
  padding: 10px 0px;
}
.rupee-icon {
  width: 20px;
  height: 20px;
}
.tick-icon {
  width: 20px;
  height: 20px;
}
.today1 {
}
.grid-item-pooja {
  padding: 20px;
}
.grid-item-other-pooja {
  border-radius: 10px;
  box-shadow: 1px 1px 9px 0px grey;
}
.backGround-img-2 {
  background-image: url(./assest/bg-img.png);
}
.book-your-kaalsarppuja {
  margin: auto;
  width: 33%;
  line-height: 43px;
}
.other-poojas {
  display: flex;
  width: 100%;
  margin: auto;
}
.full-name {
  width: 70%;
  height: 20px;
  background-color: #e9983f;
}
.main-footer {
  height: 42vh;
  background-color: black;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 45px;
  font-size: 15px;
  width: 100%;
  height: 35vh;
  background-color: black;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.fa-icon {
  padding-top: 25px;
  width: 83%;
  justify-content: space-around;
  display: flex;
}
.link li,
.best-pandit {
  padding-top: 12px;
  width: 100%;
  font-size: 12px;
  color: #ebe3e3;
}
.link1 {
  font-weight: 900;
}
.right {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 14px;
}
