
ol  li ul{
    font-size: 20px
}
.heading{
    color: #300de4;
}
.country{
    color: brown;
}
.district{
    color:rgb(142, 142, 223)
}
.city{
    color:rgb(239, 32, 32)
}
ol .content{
    color: #f1cb0b;
}