* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  background: black;
  height: 3rem;
  padding: 1rem;
}
a {
  color: white;
  text-decoration: none;
}
