/* calculator Body */
.calc-body {
  width: 275px;
  margin: auto;
  min-height: 400px;
  box-shadow: 0px 8px 64px -8px black;
  background: #3a4655;
}
/* Calculator Display Screen */
.calc-screen {
  padding: 1rem;
}
#calc-operation {
  font-size: 1.3rem;
  text-align: right;
  color: #727b86;
  padding-bottom: 0.5rem;
}
#calculation {
  font-size: 2rem;
  text-align: right;
  color: #fff;
}
/* Calculator button */
.calculator-btn {
  display: table;
}
.calculator-btn button {
  /* display: table-cell; */
  width: 25%;
  background: #425062;
  color: #fff;
  height: 65px;
  font-size: 1.3rem;
  border: none;
  border-color: #3c4857;
  border-width: 1px 1px 0px 0;
  border-style: solid;
}
.calculator-btn button.ac {
  color: #ff7665;
}
.calculator-btn button.same {
  color: #ffbc56;
}
/*The border has been managed in every fourth button so that the design will not distract.*/

.calculator-btn button:nth-child(4n) {
  border-right: none;
}
.calculator-btn button:active {
  position: relative;
  top: 1px;
}
.calculator-btn button:hover {
  background: #3e4b5c;
}
