.footer-section {
  /* float: right; */
  /* display: flex; */
  color: floralwhite;
  background: darkblue;
  /* justify-content: end !important; */
}
.footer-section {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  /* justify-content: end; */
  color: floralwhite;
  background: darkblue;
}
li {
  /* background-color: red; */
  float: right;
}
