* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #e8e8e8;
}
main {
  width: 100%;
}
.flipkart {
  height: 1rem;
}
.flipkart-icon {
  height: 0.5rem;
}
h6 {
  color: #fff;
}
span .plus {
  color: #ffbb00;
}
.com-icon {
  margin-top: 0.5rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #2874f0;
}
.add {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: 3rem;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5rem;
  cursor: pointer;
}

.icon .btn img,
input,
label,
select,
.login-btn {
  margin-top: 0.2rem;
  color: #fff;
  height: 2rem;
}

input {
  width: 28rem;
}
.fa-search {
  margin-left: -6rem;
  margin-top: 0.1rem;
  color: #2874f0;
  cursor: pointer;
}
/* login-btn */
.login-btn {
  height: 1.8rem;
  cursor: pointer;
  width: 6rem;
  color: #2874f0;
}
.h5 {
  font-size: 1rem;
  margin-top: 0.1rem;
  color: #fff;
}
select {
  border: none;
  background: border-box;
  width: 4rem;
  font-size: 1rem;
  font-weight: 700;
  margin-left: -4rem;
  cursor: pointer;
}
/* Second-Section */
.icon-Sec {
  height: 8rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 1rem;
  border-bottom: 1px solid #e0e2e5;
  box-shadow: 0px 0px 5px 0px;
  background-color: #fff;
}
a .img-1 {
  height: 5rem;
}
.offers {
  margin-left: 1rem;
}
.offers .offers-2 .offers-4 .offers-7 h5 {
  font-size: 1rem;
}
.offers.offers-4 .offers-2 .offers-7 h5:hover {
  color: #2874f0;
}
/* third-Section */
.slider-img {
  display: flex;
  /* width: 100%; */
  overflow: hidden;
}
.first-img {
  height: 10vw;
}
.first-img .second-img .third-img {
  animation: myMove 5s infinite;
}
@keyframes myMove {
  from {
    left: 0%;
  }
  to {
    right: 100%;
  }
}
.second-img .third-img {
  animation: myMove1 5s infinite;
}
@keyframes myMove1 {
  from {
    left: 0%;
  }
  to {
    right: 100%;
  }
}
/* Third-section */
.v-img {
  width: 100vw;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #bcbaba;
}
.slid > img {
  height: 7rem;
  width: 50vw;
  margin-left: 23rem;
  padding: 1rem 0rem 1rem 0rem;
}
/* fourth-Fifth-Sixth-Seventh section */
.fourth-section {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 22rem;
  padding: 1rem;
  margin-top: 0.5rem;
  width: 100%;
}
.first-line h1 {
  padding: 4rem 3rem 1rem 3rem;
  font-size: 2rem;
  color: rgb(34, 32, 32);
}
.view-all {
  width: 12rem;
  margin-left: 5.5rem;
}
.view-all button {
  height: 2.5rem;
  width: 5rem;
  font-size: 1rem;
  border-radius: 4px;
  background: #2874f0;
  color: #ffff;
  margin-top: 1rem;
  border: none;
}

.fourth-line-f-img img {
  width: 17rem;
  height: 9rem;
  padding: 0.3rem;
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.brand h4 {
  padding-left: 1.5rem;
  font-size: 1rem;
  font-weight: 100;
}
.green {
  color: green;
  font-weight: 100;
  padding-left: 2.9rem;
  padding-top: 0.5rem;
}
.ratings h6 {
  color: gray;
  padding-left: 2rem;
  padding-top: 0.5rem;
}

.card-img-4 {
  width: 12rem;
  height: 20rem;
}
/* Fifth-Section */
.fifth-section {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 22rem;
  padding: 1rem;
  margin-top: 0.5rem;
  width: 100%;
}

h1 {
  padding: 6rem 0rem 1rem 0rem;
}
.card-img-22 {
  width: 12.5vw;
  height: 32vh;
}
.card-img-22:hover {
  width: 12vw;
  cursor: pointer;
  height: 28vh;
  margin: auto;
}
.card-img-22:hover {
  width: 12vw;
  cursor: pointer;
  height: 28vh;
  margin: auto;
}
.card-img-22:hover {
  width: 12vw;
  cursor: pointer;
  height: 28vh;
  margin: auto;
}
.card-img-22:hover {
  width: 12vw;
  cursor: pointer;
  height: 28vh;
  margin: auto;
}
.card-img-22:hover {
  width: 12vw;
  cursor: pointer;
  height: 28vh;
  margin: auto;
}
.first-line-1 h1 {
  padding: 2.5rem 3rem 1rem 3rem;
  font-size: 2rem;
  color: rgb(34, 32, 32);
}
/* Eight-section  */
.paragraph {
  background-color: #fff;
  margin-top: 2rem;
}
.head {
  padding: 2rem 0rem 0rem 2.5rem;
}
span {
  color: rgb(78 82 82);
}
b {
  color: rgb(134, 139, 139);
}
.term-con {
  line-height: 1.2rem;
  width: 97%;
  margin: auto;
  font-size: 0.9rem;
  word-spacing: 0.3rem;
  color: rgb(134, 139, 139);
  padding: 1rem;
}
a {
  text-decoration: none;
  color: rgb(134, 139, 139);

  cursor: pointer;
}
.bold {
  color: #636161;
  margin-top: 1rem;
  margin-left: 2rem;
}
/* footer */
.footer {
  height: 18rem;
  background-color: #172337;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-right: 1px solid #878787;
  margin-top: 1rem;
}

.footer-second-section {
  display: flex;
  flex-direction: row;
  width: 25rem;
  justify-content: space-between;
  font-size: 0.9rem;
}
.address,
p.company-branch {
  width: 10rem;
  margin-top: 1rem;
  padding: 0.5rem 0rem 0rem 0rem;
  color: #fff;
}
h5.heading {
  margin-top: 1.5rem;
  color: #878787;
}
li {
  color: #fff;
  list-style-type: none;
  padding: 0.5rem 0rem 0rem 0rem;
}
.border {
  border-right: 1px solid #878787;
  height: 14rem;
  /* margin-top: 1rem; */
  width: 11rem;
}
/* Second-Footer */
.last-line {
  display: flex;
  flex-direction: row;
  background-color: #172337;
  height: 4rem;
  border-top: 1px solid white;
  color: #cfd4db;
  justify-content: space-evenly;
  font-size: 1.1rem;
  padding-top: 1rem;
  cursor: pointer;
}
