*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 70%;
    border: 2px solid black;
}
h1{
    margin-top: 1%;
    font-weight: 600;
    height: 3rem;
}
table,
td,
th {
  border: 2px solid black;
  text-align: center;
    font-weight: 600;
  font-size: 18px;
  margin: auto;
}
th {
  width: 200px;
}

.firstRow{
    height: 3rem;
}
.second{
    width: 20rem;
}
.img{
    width:8rem;
}