*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    margin: auto;
}
/* h1{
    display: flex;
    justify-content: center;
    height: 4rem;
} */
table,
td,
th {
  border: 2px solid black;
  /* border-collapse: collapse; */
  text-align: center;
  /* height: 20px; */
  font-weight: 600;
  font-size: 18px;
}
th {
  width: 120px;
}
.firstRow{
    height: 3rem;
}