* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main-container {
  width: 80%;
  height: 99vh;
  background-color: #37354d;
  margin: auto;
  position: relative;
}
/* body */
.body {
  height: 70vh;
  width: 26%;
  position: absolute;
  top: 19%;
  left: 15%;
  border-radius: 150px;
  background-color: #cfae69;
}
/* Eye-left-right */
.eye {
  height: 28%;
  width: 40%;
  position: absolute;
  top: 20%;
  left: 5%;
  border-radius: 50%;
  background-color: #a28327;
}
.right-eye {
  left: 55%;
}
/* Second-Section */
.layer {
  position: absolute;
  top: 5%;
  left: 8%;
  height: 83%;
  width: 85%;
  border-radius: 50%;
  background-image: linear-gradient(
    180deg,
    #8d823700 50%,
    rgb(245, 238, 238) 50%
  );
}
/* third-layer */
.third-layer {
  position: absolute;
  top: 24%;
  left: 28%;
  height: 43%;
  width: 47%;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #8d823700 50%, rgb(22, 22, 22) 50%);
}
/* head-left-right-side */
.head {
  height: 15%;
  width: 5%;
  position: absolute;
  top: 20%;
  left: 17%;
  transform: skew(-1deg, 38deg);
  background-color: #a28327;
  box-shadow: 1px;
}
.right-side {
  left: 34%;
  transform: skew(1deg, -38deg);
}
/* Nose-Section */
.nose {
  height: 12%;
  width: 17%;
  background-color: #f8d126;
  position: absolute;
  top: 41%;
  left: 42%;
  border-top-right-radius: 68px;
  transform: rotate(-45deg);
}
/* Hand-Section */
.hand {
  height: 53%;
  width: 21%;
  position: absolute;
  top: 42%;
  left: -14%;
  background-color: #a28327;
  z-index: 1;
}
.left-hand {
  border-top-left-radius: 49px;
  border-bottom-right-radius: 49px;
}
.right-hand {
  left: 93%;
  border-top-right-radius: 49px;
  border-bottom-left-radius: 49px;
}
/* tree */
.tree {
  height: 5%;
  width: 88%;
  position: absolute;
  top: 77%;
  background-color: #f4785c;
  border-radius: 20px;
}
.tree-2 {
  height: 46%;
  width: 12%;
  position: absolute;
  top: -60%;
  left: 77%;
  background-color: #f4785c;
  border-radius: 20px;
  transform: rotate(139deg);
}
/* Paw-Section */
.paw {
  height: 4%;
  width: 5%;
  position: absolute;
  top: 75%;
  left: 20%;
  background-color: #f8d126;
  border-radius: 9px;
}
.right-paw {
  left: 31%;
}
