* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main-container {
  width: 80%;
  height: 90vh;
  background-color: aquamarine;
  margin: auto;
  position: relative;
}
/* body */
.body {
  height: 59vh;
  width: 25%;
  position: absolute;
  border: 1px solid black;
  top: 19%;
  left: 15%;
  border-radius: 150px;
  background-color: blueviolet;
}
/* Eye-left-right */
.eye {
  height: 29%;
  width: 40%;
  /* border: 1px solid black; */
  position: absolute;
  top: 20%;
  left: 6%;
  border-radius: 50%;
  background-color: #8d8237d9;
}
.right-eye {
  left: 54%;
}
.layer {
  height: 72%;
  width: 80%;
  /* border: 1px solid black; */
  position: absolute;
  top: 20%;
  left: 11%;
  border-radius: 50%;
  background-color: rgb(247, 254, 252);
}
div {
  width: 100%;
  height: 48%;
  position: absolute;
  border: 1px solid solid beige;
  /* border: 1px solid black; */
  top: -1%;
  background: #8d8237d9;
}
/* third-layer */
.third-layer {
  height: 87%;
  width: 58%;

  position: absolute;
  top: 63%;
  left: 21%;
  border-radius: 50%;
  background-color: #000;
}
.third {
  width: 100%;
  height: 48%;
  position: absolute;
  border: 1px solid solid beige;
  /* border: 1px solid black; */
  top: -1%;
  background: #8d8237d9;
}
/* head-left-right-side */
.head {
  height: 19%;
  width: 40%;
  border: 1px solid black;
  position: absolute;
  top: 10%;
  left: 6%;
  border-radius: 50%;
  background-color: rgb(135, 135, 39);
}
/* tree */
.tree {
  width: 80%;
  height: 20%;
  border: 1px solid black;
  position: absolute;
}
