*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container{
    margin: auto;
    width: 91%;
    font-size: 23px;
}
.passport-application{
width: 36%;
margin: auto;
}
.container{
    border:1px solid rgb(229, 156, 168);
    margin-top: 34px;
}
.option{
    margin-left: 13%;
    border: 1px solid black;
    width: 27%;
    height: 27px;
    background-color: rgba(211, 227, 241, 0.812);
}

.heading{
    margin: auto;
    font-size: 25px;
    width: 52%;
}
.img-para{
    width: 100%;
    display: inline-block;
}
.first-img,img{
    display: inline-block;
    width: 10%;
    height: 80px;
}
.para,p{
    display: inline-block;
    width: 80%;
    font-weight: 600;
}
/* second session */
.sevices{
    height: 39px;
    background: rgb(185, 181, 181);
}
.applying-for{
    height: 31px;
    border: 2px solid black;
    width: 28%;
    margin: auto;
    margin-left: 15%;
}
.required{
    font-weight: 900;
}
.button{
    width: 100%;
    display: inline-block;
}
.radio-button{
    margin-left: 21%;
    display: inline-block;
    padding-top: 10px; 
}
.radio-button1{
    display: inline-block;
    margin-left: 17.4%;
    padding-top: 10px
}
.services1{
    height: 39px;
    margin-top: 10px;
    background: rgb(185, 181, 181);
}
/* third session */
.middle-name,.surname{
    width: 100%;
    border: 1px solid black;
    height: 27px;
    background-color: rgba(211, 227, 241, 0.812);
}
option,.gender{
    width: 20%;
    height: 27px;
    background-color: rgba(211, 227, 241, 0.812);
}
.radio-button2{
display: inline-block;
    margin-left: 10.4%;
    padding-top: 10px}
    .radio-button3{
        display: inline-block;
        margin-left: 16.4%;
        padding-top: 10px    
    }