*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container{
    margin: auto;
    width: 91%;
    font-size: 23px;
}
.container{
    border:1px solid rgb(229, 156, 168);
    margin-top: 34px;
}
.passport-application{
    margin: auto;
    width: 35%;
    margin-top: 10px;
}
.heading{
    margin: auto;
    font-size: 25px;
    width: 52%;
}
.img-para{
    width: 100%;
    display: inline-block;
}
.first-img,img{
    display: inline-block;
    width: 10%;
    height: 80px;
}
.para,p{
    display: inline-block;
    width: 80%;
    font-weight: 600;
}
/* second session */
.sevices{
    height: 39px;
    background: rgb(185, 181, 181);
}
.applying-for{
    height: 31px;
    border: 2px solid black;
    width: 28%;
    margin: auto;
    margin-left: 15%;
}
.requried{
    font-weight: 900;
}
.button{
    width: 100%;
    display: inline-block;
}
.radio-button{
    margin-left: 10%;
    display: inline-block;
    padding-top: 10px; 
}
.radio-button1{
    display: inline-block;
    margin-left: 6.4%;
    padding-top: 10px
}
.sevices1{
    height: 39px;
    margin-top: 10px;
    background: rgb(185, 181, 181);
}