* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Header */
ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  background-color: #1da5ef;
  padding-top: 10px;
}
.option {
  margin-top: 17px;
}
.state {
  margin-left: 10px;
  color: #fff;
  background-color: darkgreen;
  border: none;
  height: 27px;
  padding: 6px;
  border-radius: 6px;
}
span,
a {
  color: #fff;
}
a {
  text-decoration: none;
  padding-left: 17px;
}
.button2 {
  margin: 10px 0px 0px 39px;
}
.button2,
.button1 {
  width: 60%;
  border-radius: 5px;
  border: none;
  background-color: darkgreen;
  height: 27px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}
/* Second-Header */
.heading {
  height: 8vh;
  background-color: #d9edf7;
}
h2 {
  text-align: center;
  color: blue;
}
/* Third-Header */
.third-navbar {
  display: flex;
  margin: auto;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to top, #8fb7e1, #1f81bb);
}
.sab-div {
  display: flex;
  width: 98%;
  margin: auto;
}
.select {
  height: 46px;
  width: 72%;
  color: #fff;
  background-image: linear-gradient(to top, #8fb7e1, #1f81bb);
  border: none;
}
.btn-class {
  width: 34%;
  margin-top: -6px;
  margin-top: 5px;
}
.btn1 {
  width: 44%;
  background: #d6f388;
  color: #ff0000;
  border-radius: 5px;
  height: 31px;
  border: none;
}
.btn2 {
  border: none;
  background: #d6f388;
  color: #ff0000;
  width: 46%;
  border-radius: 5px;
  padding: 8px;
  height: 31px;
}
.options {
  width: 17%;
  height: 43px;
}
label {
  display: none;
}
/* main-div */
.main-div {
  /* display: flex; */
}
.first-line {
  display: flex;
  justify-content: space-around;
}
