* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #f9345f 0%, #5d35af 100%);
}

table,
tr {
  background: linear-gradient(to right, rgb(16, 99, 78) 0%, #6ac2bf 100%);
  border: 1px solid white;
}
.trTagFirst {
  height: 1rem;
  float: right;
  font-size: 1rem;
  background: linear-gradient(to right, rgb(16, 99, 78) 0%, #6ac2bf 100%);
}
td {
  border-collapse: collapse;
}
table,
tr:hover {
  background: rgb(172, 199, 202);
}
