* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.main-container {
  height: 125vh;
  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
}
.center-div {
  height: 125vh;
  width: 56%;
  margin: auto;
  position: relative;
  border: 1px solid black;
  z-index: -1;
  opacity: 0.8;
}
.img {
  position: absolute;
  width: 100%;
  height: 125vh;
}
.logo {
  position: absolute;
  top: 3%;
  left: 26%;
  height: 8%;
  width: 16%;
}
.logo-img {
  width: 100%;
  height: 100%;
  border-radius: 49px 0px 49px 0px;
  box-shadow: 4px 4px 5px 3px rgb(23, 54, 23);
}
.left-div {
  position: absolute;
  height: 125vh;
  width: 22%;
  z-index: 1;
  background-color: #fff;
}
.right-div {
  background-color: #fff;
  position: absolute;
  height: 125vh;
  width: 22%;
  left: 77%;
  z-index: 1;
}
.first-box {
  position: absolute;
  background-image: linear-gradient(90deg, rgb(5 28 5), transparent);
  height: 410px;
  width: 410px;
  top: 21%;
  left: 65%;
  transform: rotate(45deg);
  border-radius: 15px;
  box-shadow: 10px 9px 25px 5px;
}
.year {
  position: absolute;
  left: 102px;
  top: 68%;
  background-color: #ffd6a63b;
  color: #76947c;
  box-shadow: 3px 3px 1px 0px;
  transform: rotate(-45deg);
  width: 18%;
  text-align: center;
  padding: 6px;
  border-radius: 10px 0px 10px 0px;
}
.second-box {
  position: absolute;
  height: 24%;
  width: 15%;
  top: 12.6%;
  left: 49%;
  transform: rotate(45deg);
  border-radius: 18px;
  z-index: 2;
}
.first-img {
  border-radius: 18px;
  height: 100%;
  width: 100%;
  box-shadow: 10px 9px 25px 5px;
}
.second-img {
  border-radius: 18px;
  height: 100%;
  width: 100%;
  box-shadow: 10px 9px 25px 5px;
}
.third-img {
  border-radius: 18px;
  height: 100%;
  width: 100%;
  box-shadow: 10px 9px 25px 5px;
}
.third-box {
  position: absolute;
  height: 25%;
  width: 16%;
  top: 31%;
  left: 35.5%;
  border-radius: 18px;
  transform: rotate(45deg);
  z-index: 1;
}
.first-line {
  position: absolute;
  height: 8%;
  width: 33%;
  top: 70%;
  left: 14%;
  z-index: -1;
  transform: rotate(-45deg);
  background-image: linear-gradient(45deg, rgb(5 28 5), transparent);
  box-shadow: 4px 4px 5px 3px rgb(23, 54, 23);
}
.second-line {
  position: absolute;
  height: 8%;
  width: 7%;
  top: 46%;
  border-radius: 36px;
  left: 31%;
  transform: rotate(-46deg);
  background-image: linear-gradient(45deg, rgb(5 28 5), transparent);
  box-shadow: 4px 4px 5px 3px rgb(23, 54, 23);
}
.third-line {
  position: absolute;
  height: 8%;
  width: 8%;
  top: 26%;
  border-radius: 36px;
  left: 36%;
  transform: rotate(43deg);
  background-image: linear-gradient(45deg, rgb(5 28 5), transparent);
  box-shadow: 4px 4px 5px 3px rgb(23, 54, 23);
}
.fourth-box {
  position: absolute;
  height: 28%;
  width: 18%;
  background-color: rgb(29, 155, 82);
  top: 51%;
  left: 48.5%;
  transform: rotate(45deg);
  border-radius: 18px;
  z-index: 1;
}
.fourth-line {
  position: absolute;
  height: 8%;
  width: 33%;
  top: 70%;
  left: 53%;
  transform: rotate(45deg);
  background-image: linear-gradient(45deg, rgb(5 28 5), transparent);
  box-shadow: 4px 4px 5px 3px rgb(23, 54, 23);
}
.fifth-line {
  position: absolute;
  height: 8%;
  width: 8%;
  border-radius: 36px;
  top: 78%;
  left: 58%;
  z-index: -1;
  transform: rotate(43deg);
  background-image: linear-gradient(45deg, rgb(5 28 5), transparent);
  box-shadow: 4px 4px 5px 3px rgb(23, 54, 23);
}
.sixth-line {
  height: 8%;
  width: 8%;
  border-radius: 36px;
  position: absolute;
  top: 72%;
  left: 46%;
  z-index: -1;
  transform: rotate(-45deg);
  background-image: linear-gradient(45deg, rgb(5 28 5), transparent);
  box-shadow: 4px 4px 5px 3px rgb(23, 54, 23);
}
.text {
  position: absolute;
  top: 82%;
  left: 31%;
  color: #a3cb86;
  text-shadow: -1px 4px 2px darkred;
}
h2 {
  color: #3b7b09;
}
h3 {
  margin-top: 7%;
  margin-left: -22%;
}
.icon {
  margin-top: -8%;
  margin-left: 32%;
  font-size: 25px;
  padding: -6px;
}
